/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.newField {
	-fx-padding: 5 10 5 10
}

.error {
    -fx-text-box-border: red ;
}

.label {
	-fx-background-color: linear-gradient(#f9c667 0%, #f79621 100%); 
	-fx-background-radius: 10px 0px 0px 10px;
	-fx-font-family: Verdana, Times New Roman;
	
}
.field {
	-fx-background-radius: 0px 10px 10px 0px;
}

.button {
	-fx-background-color: linear-gradient(#f9c667 0%, #f79621 100%); 
}
.button:hover {
	-fx-background-color: linear-gradient(#feccb1 0%, #f17432 97%, #ea5507 99%, #fb955e 100%);
}

.scrollPane  {
	-fx-background-color: transparent;
}
.scrollPane .scroll-bar {
	-fx-background-color: transparent;
}